<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/57b1d238-2d4c-41d7-a659-5f13b9008e10/resourceGroups/DataMiningReddit/providers/Microsoft.Web/sites/DataMining-API</ResourceId>
    <ResourceGroup>DataMiningReddit</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://datamining-api.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://datamining-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$DataMining-API</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>